
.header{
  background-color: #2f6872;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  font-family: "Lucida Console", "Courier New", monospace;
}

.links{
  display: flex;
  flex-direction: column;
}

.laptop{
  size: 40vmin;
  pointer-events: none;
}

.windows{
  border: solid;
  border-radius: 30px;
  padding: 1.5vmin;
  text-decoration: none;
  color:white;
  border-color: #5865f2;
  background: #5865f2;
}

.macos{
  border: solid;
  border-radius: 30px;
  padding: 1.5vmin;
  text-decoration: none;
  color:white;
  border-color: #5865f2;
  background: #5865f2;
}

.linux{
  border: solid;
  border-radius: 30px;
  padding: 1.5vmin;
  text-decoration: none;
  color:white;
  border-color: #5865f2;
  background: #5865f2;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4%;
  background: rgb(17, 94, 158);
}

.footer-text{
  text-align: center;
  color: white;
  font-size: 2vmin;
  margin: 0.8vmin; 
}

.logo{
  position: fixed;
  top: 5px;
  left: 5px;
  width: 7vmin;
  height: 6vmin;
}